.cuadro1 p{
	background-color: #FFFF00;
	height: 100px;
	width: 200px;
	padding: 7px;

}

.cuadro2 p{
	background-color: #FF0000;
	height: 100px;
	width: 200px;
	padding: 7px;
}

.cuadro3 p{
	background-color: #FFFF00;
	height: 100px;
	width: 200px;
	padding: 7px;
	
}
